@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ohksvb');
  src:  url('fonts/icomoon.eot?ohksvb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ohksvb') format('truetype'),
    url('fonts/icomoon.woff?ohksvb') format('woff'),
    url('fonts/icomoon.svg?ohksvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-earth:before {
  content: "\21";
}
.icon-underline:before {
  content: "\22";
}
.icon-at:before {
  content: "\40";
}
.icon-A:before {
  content: "\41";
}
.icon-arrow_down:before {
  content: "\e000";
}
.icon-arrow-right:before {
  content: "\e001";
}
.icon-arrow-left:before {
  content: "\e002";
}
.icon-play:before {
  content: "\e003";
}
.icon-arrow_up:before {
  content: "\e004";
}
.icon-remove:before {
  content: "\e005";
}
.icon-undo:before {
  content: "\e006";
}
.icon-loop:before {
  content: "\e007";
}
.icon-cog:before {
  content: "\e008";
}
.icon-close:before {
  content: "\e009";
}
.icon-pencil:before {
  content: "\e00a";
}
.icon-file:before {
  content: "\e00b";
}
.icon-star:before {
  content: "\e00c";
}
.icon-expand:before {
  content: "\e00d";
}
.icon-folder-open:before {
  content: "\e00e";
}
.icon-hash:before {
  content: "\e00f";
}
.icon-home:before {
  content: "\e010";
}
.icon-list:before {
  content: "\e011";
}
.icon-lrrev:before {
  content: "\e012";
}
.icon-envelop:before {
  content: "\e013";
}
.icon-image:before {
  content: "\e014";
}
.icon-forward:before {
  content: "\e015";
}
.icon-lock:before {
  content: "\e016";
}
.icon-feed:before {
  content: "\e017";
}
.icon-disk:before {
  content: "\e018";
}
.icon-bubble:before {
  content: "\e019";
}
.icon-twitter:before {
  content: "\e01a";
}
.icon-udrev:before {
  content: "\e01b";
}
.icon-user:before {
  content: "\e01c";
}
.icon-users:before {
  content: "\e01d";
}
.icon-wrench:before {
  content: "\e01e";
}
.icon-search:before {
  content: "\e01f";
}
.icon-heart:before {
  content: "\e900";
}
.icon-resize:before {
  content: "\f1ed";
}
.icon-place:before {
  content: "\f220";
}
.icon-maximize:before {
  content: "\f30f";
}
.icon-redo:before {
  content: "\f32b";
}
