@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xjz5xc');
	src:url('fonts/icomoon.eot?xjz5xc#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?xjz5xc') format('truetype'),
		url('fonts/icomoon.woff?xjz5xc') format('woff'),
		url('fonts/icomoon.svg?xjz5xc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e900";
}
.icon-maximize:before {
	content: "\f30f";
}
.icon-forward:before {
	content: "\e015";
}
.icon-redo:before {
	content: "\f32b";
}
.icon-cog:before {
	content: "\e008";
}
.icon-place:before {
	content: "\f220";
}
.icon-A:before {
	content: "\41";
}
.icon-search:before {
	content: "\e01f";
}
.icon-wrench:before {
	content: "\e01e";
}
.icon-users:before {
	content: "\e01d";
}
.icon-user:before {
	content: "\e01c";
}
.icon-udrev:before {
	content: "\e01b";
}
.icon-twitter:before {
	content: "\e01a";
}
.icon-bubble:before {
	content: "\e019";
}
.icon-disk:before {
	content: "\e018";
}
.icon-feed:before {
	content: "\e017";
}
.icon-lock:before {
	content: "\e016";
}
.icon-image:before {
	content: "\e014";
}
.icon-resize:before {
	content: "\f1ed";
}
.icon-underline:before {
	content: "\22";
}
.icon-at:before {
	content: "\40";
}
.icon-envelop:before {
	content: "\e013";
}
.icon-lrrev:before {
	content: "\e012";
}
.icon-list:before {
	content: "\e011";
}
.icon-home:before {
	content: "\e010";
}
.icon-hash:before {
	content: "\e00f";
}
.icon-earth:before {
	content: "\21";
}
.icon-folder-open:before {
	content: "\e00e";
}
.icon-expand:before {
	content: "\e00d";
}
.icon-star:before {
	content: "\e00c";
}
.icon-file:before {
	content: "\e00b";
}
.icon-pencil:before {
	content: "\e00a";
}
.icon-close:before {
	content: "\e009";
}
.icon-loop:before {
	content: "\e007";
}
.icon-undo:before {
	content: "\e006";
}
.icon-remove:before {
	content: "\e005";
}
.icon-arrow_up:before {
	content: "\e004";
}
.icon-play:before {
	content: "\e003";
}
.icon-arrow-left:before {
	content: "\e002";
}
.icon-arrow-right:before {
	content: "\e001";
}
.icon-arrow_down:before {
	content: "\e000";
}

