/* デスクトップ通知 */
.notify {
	padding: 4px 0;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
	line-height: 1.2rem;
	overflow: hidden;
}

.notify:hover {
	cursor: pointer;
}

.notify .tbl {
	display: table;
	width: auto;
	padding: 1px 4px 4px 4px;
	box-sizing: border-box;
}

.notify .tc {
	display: table-cell;
}

.notify .tc.center {
	text-align: center;
}

.notify .tc.center > span.icon-play {
	font-size: 16px;
}

.notify .icon {
	width: 32px;
	text-align: center;
	vertical-align: top;
}

.notify .tc.icon > span {
	font-size: 24px;
}

.notify .tc.icon > span.icon-loop {
	color: #86aa65
}

.notify .tc.icon > span.icon-star {
	color: #eda637;
}

.notify img.normal {
	width: 24px;
	heigth: 24px;
}

.notify img.rt {
	width: 16px;
	heigth: 16px;
}

.notify img.arrow {
	width: 16px;
	height: 16px;
	margin: 4px 4px;
}

.notify img.favicon {
	position: absolute;
	left: 24px;
	top: 2px;
	width: 12px;
	heigth: 12px;
}

.notify .bold {
	font-weight: bold;
}

.notify .date {
	opacity: 0.6;
	font-size: 0.8rem;
}

.notify .rt {
	font-size: 0.8rem;
	opacity: 0.6;
}
