/* 全体設定 */
* {
	margin: 0;
	padding: 0;
}

:root {
	--default-panel-background:#282828;
	--default-panel-text:#ffffff;
	--default-panel-border:#101010;

	--default-tweet-background:#282828;
	--default-tweet-text:#ffffff;
	--default-tweet-link:#b0d0f0;

	--default-titlebar-background:#606060;
	--default-titlebar-text:#ffffff;
	--default-titlebar-fixed-background:#404040;

	--default-button-background:#404040;
	--default-button-text:#ffffff;

	--default-scrollbar-background:#242424;
	--default-scrollbar-thumb:#777777;

	--default-general-highlight:#107090;

	--default-font-family: '';

	--panel-background: var(--default-panel-background);
	--panel-text: var(--default-panel-text);
	--panel-border: var(--default-panel-border);

	--tweet-background: var(--default-tweet-background);
	--tweet-text: var(--default-tweet-text);
	--tweet-link: var(--default-tweet-link);

	--titlebar-background: var(--default-titlebar-background);
	--titlebar-text: var(--default-titlebar-text);
	--titlebar-fixed-background: var(--default-titlebar-fixed-background);

	--button-background: var(--default-button-background);
	--button-text: var(--default-button-text);

	--scrollbar-background: var(--default-scrollbar-background);
	--scrollbar-thumb: var(--default-scrollbar-thumb);

	--general-highlight: var(--default-general-highlight);
	
}

html {
	font-family: var(--default-font-family);
	height: 100%;
}

body {
	height: 100%;
	line-height: 1.2rem;
	overflow: auto;
	user-select: none;

	background-color: #303434;	/* color set: 全体のBG */
	color: #ffffff;	/* color set: 全体のフォント */
}

input[type='checkbox'], input[type='radio'] {
	position: relative;
	top: 2px;
}

input[type='radio'] {
	margin-right: 4px;
}

img {
	border: 0;
}

/* アンカー */
.anchor {
	cursor: pointer;
	text-decoration: none;
}

/* バージョン表示 */
.anchor.version {
	color: #ffffff;
}

/* 絵文字 */
img.emoji {
	height: 1.25rem;
	width: 1.25rem;
	padding: 0.05em 0.1em;
	vertical-align: text-top;
}

/* URL展開中 */
.expand {
	cursor: default;
	opacity: 0.6;
	text-decoration: none;

	color: var(--tweet-text);
}

/* Loading... */
#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 6px;
	margin: 4px;
	z-index: 8000;

	color: #ffffff;	/* color set: 固定(loading) */
	background-color: #3da4c2;	/* color set: 固定(loading) */
}

/* ヘッダ */
#head {
	display: table;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#head > div {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	border-width: 1px 0;
	border-style: solid;

	border-color: var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

/* パネルリスト表示ボタン */
#head > div:first-child {
	text-align: left;
}

#head_panellist {
	padding-left: 8px;
	opacity: 0.5;
}

#head_panellist:hover {
	cursor: pointer;
	opacity: 1.0;
}

#head .subcontainer {
	position: relative;
}

#head .header_sub {
	position: absolute;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	z-index: 8900;

	border: 1px solid #101010;	/* color set: 固定(popup-menu) */
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );	/* color set: 固定(popup-menu) */
	background-color: var(--panel-background);
	color: var(--panel-text);
}

#head .header_sub span {
	display: block;
	padding: 6px 12px;
	text-align: left;
}

#head .header_sub span:hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

/* ツールバーユーザ */
#head_users > div {
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	margin: 2px 0px;
	vertical-align: middle;
	text-align: center;
	padding-left: 1px;
	position: relative;

	border-left: 2px solid rgba( 255, 255, 255, 0 );	/* color set: 固定(toolbar-user) */
}

#head_users > div.dmy {
	width: 3px;
}

#head_users > div.iconover {
	border-left-color: rgba( 255, 255, 255, 1 );	/* color set: 固定(toolbar-user) */
}

#head_users > div > span > img {
	width: 2.4rem;
	height: 2.4rem;
	z-index: 2000;
}

#head_users > div > span > img:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* ツールバー小アイコン */
#head_users > div > div.listicon {
	position: absolute;
	left: 0px;
	bottom: -4px;
	pointer-events: none;
}

#head_users > div > div.listicon:hover {
	cursor: pointer;
}

/* メイン */
#main {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

/* バージョン表示 */
#version {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 4px;
	font-weight: bold;
}

/* ツールチップ */
#tooltip {
	position: absolute;
	max-width: 50rem;
	width: auto;
	height: auto;
	padding: 4px;
	overflow: hidden;
	word-break:break-all;
	word-wrap: break-word;
	left: 0px;
	top: 0px;
	z-index: 9500;
	margin-left: 4px;
	-webkit-animation-name:tooltip;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running;
	-webkit-animation-delay:0;
	pointer-events: none;
	box-sizing: border-box;

	border: 1px solid #101010;	/* color set: 固定(tooltip) */
	background-color: #202424;	/* color set: 固定(tooltip) */
}

@-webkit-keyframes tooltip{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

/* ブラックアウト */
#blackout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9900;

	background: rgba( 0, 0, 0, 0.5 );	/* color set: 固定(blackout) */
}

#blackout > div.info {
	display: block;
	margin: 8px 16px;
}

/* パネル */
panel {
	display: block;
	z-index: 100;

	border: 2px solid var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

/* パネルのタイトルバー */
panel div.titlebar {
	display: table;
	width: 100%;
	height: 28px;
	box-sizing: border-box;

	border-bottom: 1px solid var(--panel-border);
	background-color: var(--titlebar-background);
	color: var(--titlebar-text);
}

/* タイトルバーのアイコン＋文字列 */
panel div.titlebar .titlecontainer {
	position: relative;
	display: table-cell;
	width: 100%;
	height: 28px;
	cursor: move;
	vertical-align: middle;
}

/* タイトルバーの文字列 */
panel div.titlebar .title {
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
	word-break: break-all;
	word-wrap: break-word;
	padding-left: 2px;
}

panel div.titlebar .title div {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 1rem;
	padding: 0px 0px 2px 0px;
}

/* タイトルアイコン */
panel div.titlebar .titleicon {
	display: table-cell;
	font-size: 1.2rem;
	vertical-align: middle;
	padding: 0 2px;
}

panel div.titlebar .titleicon:hover {
	cursor: pointer;
}

/* タイトルバーのボタン */
panel div.titlebar > span:not(.badge) {
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	opacity: 0.5;
	padding: 0 6px;
}

panel div.titlebar > span:not(.badge):hover {
	cursor: pointer;
	opacity: 1.0;
}

panel div.titlebar > span:not(.badge):active {
	opacity: 0.3;
}

/* 位置固定パネル */
panel.fixed div.titlebar {
	background-color: var(--titlebar-fixed-background);
}

/* パネルを開いているアカウント */
panel div.titlebar .title .titlename:hover {
	opacity: 0.7;
	cursor: pointer;
}

/* パネルを開いているアカウント選択 */
/* 位置固定メニュー */
panel div.titlebar .titlecontainer .titlename_list,
panel div.titlebar .titlecontainer .titlesetting {
	position: absolute;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	z-index: 8900;

	border: 1px solid #101010;	/* color set: 固定(popup-menu) */
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );	/* color set: 固定(popup-menu) */
	background-color: var(--panel-background);
	color: var(--panel-text);
}

panel div.titlebar .titlecontainer .titlename_list span
{
	display: block;
	padding: 6px 12px;
	text-align: left;
}

panel div.titlebar .titlecontainer .titlesetting span
{
	display: block;
	padding: 3px 6px;
	text-align: left;
}

panel div.titlebar .titlecontainer .titlename_list span:hover {
	cursor: pointer;

	background: var(--general-highlight);
}

/* パネル-コンテンツ */
panel div.contents {
	display: block;
}

/* パネル-コンテンツ-タイムライン表示 */
panel div.contents > .lines {
	width: 100%;
	height: 100%;
	content-visibility: auto;
}

/* パネル-コンテンツ-設定表示 */
panel div.contents > .setting {
	width: 100%;
	height: 100%;
}

/* ボタン */
.btn {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	text-align: center;
	box-sizing: border-box;
	padding: 8px;
	font-size: 1.0rem;

	border: 1px solid #101010;	/* color set:固定(button) */
	color: var(--button-text);
	background-color: var(--button-background);
}

.btn.img {
	font-size: 1.2rem;
}

.btn:not(.disabled):hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

.btn:not(.disabled):active {
	opacity: 0.5;
}

.btn.disabled {
	opacity: 0.3;
}

.panel_btns {
	position: relative;
	display: table;
	width: 100%;
	height: 37px;
	box-sizing: border-box;

	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );	/* color set:固定(panel-buttons) */
}

.panel_btns > div {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}

.btn.panel_btn {
	padding: 6px 8px;
	margin: 2px;
}

/* ボタンの個別設定 */
.btn.headerbtn {
	margin: 2px;
	font-size: 1.2rem;
}

/* テキストボックス */
input[type=text] {
	display: inline-block;
	padding: 7px 6px 5px 6px;
	border: 1px solid #101010;
	height: 1.4em;
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;
	color: #000000;
	background-color: #e7e7d4;
	outline: none;
}

/* セレクトボックス */
select {
	display: inline-block;
	padding: 7px 6px 5px 6px;
	border: 1px solid #101010;
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;
	color: #000000;
	background-color: #e7e7d4;
	outline: none;
}

/* テキストエリア */
textarea {
	display: block;
	padding: 7px 6px 5px 6px;
	border: 1px solid #101010;
	box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 ) inset;
	color: #000000;
	background-color: #e7e7d4;
	outline: none;
	resize: none;
}

/* ファイル選択 */
input[type=file] {
}

/* アカウントセレクト */
.account_select {
	width: 100%;
	height: 3.1rem;
}

/* 選択されたアカウント */
.selectitem {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 0.4rem 0 0 0.4rem;
	box-sizing: border-box;
}

.selectitem:hover {
	cursor: pointer;
}

.selectitem > div.icon img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 4px;
}

.selectitem > div {
	display: table-cell;
	vertical-align: middle;
}

.selectitem > div.icon {
	width: 2.7rem;
	min-width: 2.7rem;
}

.selectitem > div.name {
	width: 100%;
	font-weight: bold;
}

.selectitem > div:last-child {
	display: table-cell;
	text-align: right;
	padding: 0 4px;
	font-size: 0.8rem;
}

/* アカウントセレクト-アカウント一覧 */

.selectlist {
	background: var(--panel-background);
	width: 90%;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	position: absolute;
	z-index: 9002;
	max-height: 240px;
}

.selectlist .item {
	display: table;
	width: 100%;
	padding: 4px;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	box-sizing: border-box;
}

.selectlist .item:hover {
	cursor: pointer;
}

.selectlist .item > div img {
	width: 2.5rem;
	height: 2.5rem;
}

.selectlist .item > div {
	display: table-cell;
	vertical-align: middle;
}

.selectlist .item > div.icon {
	width: 2.7rem;
	min-width: 2.7rem;
}

.selectlist .item > div.name {
	width: 100%;
	font-weight: bold;
}

.selectlist .item.select {
	background-color: var(--general-highlight);
	cursor: pointer;
}

/* スライダー */
.ui-slider {
	display: inline-block;
	border: 1px solid #101010 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#000404), to(#202424)) !important;
	margin: 0 4px 0 4px;
}

.ui-slider .ui-slider-handle {
	border: 1px solid #101010 !important;
	box-shadow: 1px 1px 2px #505050 inset !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#242424)) !important;
	cursor: pointer;
}

.ui-slider .ui-slider-handle:focus {
	outline: 0;
}

.slidercontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
	box-sizing: border-box;
}

.slidercontainer .slidestr {
	font-size: 0.8rem;
}

.slidercontainer .value_disp {
	margin-left: 8px;
	font-size: 0.8rem;
}

.checkboxcontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
	box-sizing: border-box;
}

.checkboxcontainer > span {
	display: table-cell;
}

.checkboxcontainer > span:first-child {
	width: 18px;
}

.radiocontainer {
	display: table;
	width: 100%;
	margin: 0 0;
	vertical-align: top;
	box-sizing: border-box;
}

.radiocontainer > div {
	margin: 2px 4px;
}

/* 新着件数 */
panel div.titlebar .titlecontainer .badge {
	padding: 0px 2px;
	font-weight: bold;
	display: table-cell;
	font-size: 0.8rem;
	width: 0.8rem;
	text-align: center;

	color: #ffffff;
	background-color: var(--titlebar-background);
}

panel div.titlebar .titlecontainer .badge:hover {
	cursor: pointer;
}

/* メッセージボックス */
#messagebox {
	position: absolute;
	width: 400px;
	height: auto;
	padding: 4px;
	border: 4px solid var(--panel-border);
	word-break:break-all;
	word-wrap: break-word;
	left: -1000px;
	top: 0;
	z-index: 10000;
	background-color: var(--panel-background);
	color: var(--panel-text);
}

#messagebox_body {
	text-align: left;
	padding: 4px;
}

#messagebox_body > div {
	margin: 4px;
}

#messagebox_body > div .msg {
}

#messagebox_foot {
	text-align: center;
	margin-top: 4px;
}

/* プルダウンメニュー */
.pulldown {
	display: none;
	position: absolute;
	border: 1px solid #101010;
	color: var(--panel-text);
	background-color: var(--panel-background);
	z-index: 9001;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 180px;
}

.pulldown > .item {
	padding: 4px 6px;
}

.pulldown > .item:hover {
	cursor: pointer;
	background: var(--general-highlight);
}

.pulldown > .item.disabled {
	color: #808080;
}

.pulldown > .item.disabled:hover {
	cursor: default;
	background: none;
}

/* スクロールバー */
::-webkit-scrollbar {
	background: var(--scrollbar-background);
}

::-webkit-scrollbar:vertical {
	width: 12px;
	border-left: 1px solid var(--panel-border);
}

::-webkit-scrollbar:horizontal {
	height: 12px;
	border-top: 1px solid var(--panel-border);
}

::-webkit-scrollbar-thumb:vertical {
	background: var(--scrollbar-thumb);
	border-left: 1px solid var(--panel-border);
}

::-webkit-scrollbar-thumb:horizontal {
	background: var(--scrollbar-thumb);
	border-top: 1px solid var(--panel-border);
}

::-webkit-scrollbar-corner {
	background: var(--scrollbar-background);
	border: solid var(--panel-border);
	border-width: 1px 0 0 1px;
}

/* 注意書き等 */
span.info {
	font-size: 0.8rem;
	color: #c0c0c0;
}

/* 一番上、一番下 */
.sctbl {
	width: 18px;
}

.sctbl > a {
	display: block;
	opacity: 0.5;
	font-size: 0.8rem;
	padding: 4px;
}

.sctbl > a:hover {
	cursor: pointer;
	opacity: 1.0;
}

.sctbl > a:active {
	opacity: 0.3;
}

/* セレクトボックス */
div.selectbox {
	width: 100%;
}

div.selectbox:hover {
	cursor: pointer;
}

div.selectbox > div {
	display: table;
	box-sizing: border-box;
}

div.selectbox > div > .selitem {
	display: table-cell;
	width: 100%;
	padding: 0 4px;
}

div.selectbox > div > div:last-child {
	display: table-cell;
	text-align: right;
	padding: 0 4px;
	font-size: 0.8rem;
}

div.selectbox .selectitems {
	display: block;
	position: absolute;
	border: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	background: var(--panel-background);
	z-index: 9001;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	max-height: 150px;
	left: -1px;
	width: 80%;
}

div.selectbox .selectitems .selectitem {
	padding: 4px;
}

div.selectbox .selectitems .selectitem.bold {
	font-weight: bold;
}

div.selectbox .selectitems .selectitem.selected {
	background-color: var(--general-highlight);
}

/* パネルリスト */
#panellist {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 100%;
	z-index: 1000;
	border-width: 1px 2px 1px 1px;
	border-style: solid;

	border-color: var(--panel-border);
	background-color: var(--panel-background);
	color: var(--panel-text);
}

#panellist > div.lists {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#panellist > div.lists > div {
	padding: 8px 4px;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	display: table;
	width: 100%;

	border-bottom: 1px solid var(--panel-border);
}

#panellist > div.lists > div > span {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

#panellist > div.lists > div:hover {
	cursor: pointer;

	background-color: var(--general-highlight);
}

#panellist > div.lists > div:active {
	cursor: pointer;
	opacity: 0.5;
}

#panellist > div.lists > div > .icon {
	padding-right: 4px;
	font-size: 1.5rem;
	width: 1.5rem;
}

#panellist > div.lists > div > .badge {
	padding: 0px 2px;
	font-weight: bold;
	font-size: 0.8rem;
	width: 0.8rem;
	text-align: center;

	color: #ffffff;
	background-color: #dc2d2d;
}

/* 初回言語選択 */
#select_locale {
	display: table;
	position: relative;
	margin: 0 auto;
	top: 50%;
}

#select_locale > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 4px;
}
