/* 位置情報設定 */
div.contents.geosetting {
	overflow-x: hidden;
	overflow-y: hidden;
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
}

#geosetting_btns {
	display: table;
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #101010;
	box-shadow: 1px 1px 2px #505050 inset;
}

#geosetting_btns > div {
	display: table-cell;
	vertical-align: middle;
}

/* ボタンの個別設定 */
#geosetting_btns > div .btn {
	margin-left: 4px;
}

#geosetting_btns > div .btn.text {
	padding: 5px 12px 3px 12px;
}

#geosetmap {
	width: 100%;
	height: 100%;
}
