/* image */
div.contents.image {
	overflow: auto;
}

div.contents.image img {
}

div.contents.image > div {
	position: relative;
}

div.contents.image > div.imgbtns {
	position: absolute;
	left: 0;
	top: 32px;
}

div.contents.image .resizebtn {
	font-size: 2rem;
	opacity: 0.5;
	background: #101010;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 2px;
	margin: 4px 8px;
	z-index: 10;

}

div.contents.image .resizebtn:hover {
	cursor: pointer;
	opacity: 1.0;
}
