/* リスト一覧 */
div.contents.lists {
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* リスト部 */
div.contents.lists .lists_list {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div.contents.lists .lists_list .item {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 2px 6px 2px 4px;
	box-sizing: border-box;
}

div.contents.lists .lists_list .item:hover {
	cursor: default;
}

div.contents.lists .lists_list .item .icon {
	display: table-cell;
	width: 38px;
	padding-top: 4px;
	vertical-align: top;
	text-align: center;
}

div.contents.lists .lists_list .item .icon > img {
	width: 32px;
	height: 32px;
}

div.contents.lists .lists_list .item .icon > img:hover {
	cursor: pointer;
}

div.contents.lists .lists_list .item .container {
	display: table-cell;
	vertical-align: top;
	padding: 4px;
	white-space: normal;
	min-width: 150px;
}

div.contents.lists .lists_list .item .fullname {
	padding: 2px 4px;
}

div.contents.lists .lists_list .item .fullname > span.icon-lock {
	vertical-align: bottom;
	color: #a4a396;
	font-weight: normal;
}

div.contents.lists .lists_list .item .fullname span:first-child {
	font-weight: bold;
}

div.contents.lists .lists_list .item .fullname span:first-child:hover {
	cursor: pointer;
	color: #dddddd;
}

div.contents.lists .lists_list .item .desc {
	font-size: 0.8rem;
	color: #c0c0c0;
	padding: 2px 4px;
}

div.contents.lists .lists_list .item .buttons {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

/* リスト作成 */
div.contents.lists .list_create {
	position: absolute;
	width: 240px;
	word-break: break-all;
	word-wrap: break-word;
	z-index: 8900;
	border: 1px solid #101010;
	box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.5 );
	background: #3e3e3e;
	padding: 4px;
}

div.contents.lists .list_create > div {
	margin: 6px 4px;
}

div.contents.lists .list_create > div:last-child {
	margin: 12px 4px 2px 4px;
	text-align: right;
}

div.contents.lists .list_create > div .description {
	width: 218px;
	height: 50px;
}
