/* RSSパネル一覧 */
div.contents.rsslist {
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* リスト部 */
#rsslist_list {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#rsslist_list div.item {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 2px 6px 2px 4px;
	height: 40px;
	box-sizing: border-box;
}

#rsslist_list div.item > div {
	display: table-cell;
	vertical-align: middle;
}

#rsslist_list div.item .title span {
	display: block;
	white-space: normal;
	font-weight: bold;
	color: #ffffff;
	padding-right: 2px;
}

#rsslist_list div.item .title span:hover {
	cursor: pointer;
	color: #dddddd;
}

#rsslist_list div.item .buttons {
	text-align: right;
}
