/* トレンド */
div.contents.trends {
	word-break: break-all;
	word-wrap: break-word;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

/* リスト部 */
div.contents.trends .trends_list {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div.contents.trends .trends_list .item {
	display: table;
	width: 100%;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
	padding: 2px 6px 2px 4px;
	box-sizing: border-box;
}

div.contents.trends .trends_list .item:hover {
	cursor: default;
}

div.contents.trends .trends_list .item .container {
	display: table-cell;
	vertical-align: top;
	padding: 4px;
}

div.contents.trends .trends_list .item .container .title span {
	font-weight: bold;
	user-select: text;
}

div.contents.trends .trends_list .item .container .title span:hover {
	opacity: 0.5;
	cursor: pointer;
}

